@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* bg - rgb(103, 75, 175) */
/* text - color: rgba(255, 255, 255, 0.7); */
/* hover - #e882e8 */
/* brands:hover - #e882e8 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 375px) {

    /* body {
        padding: 30px;
        background: url("images/bg-mobile.svg"), rgb(103, 75, 175);
    } */

    .header {
        padding: 30px;
        background: url("images/bg-mobile.svg"), rgb(103, 75, 175);
        max-height: 100vh;
        max-width: 375px;
        max-height: 100vh;
    }   

    .logo {
        height: 30px;
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-picture {
        width: 100%;
    }

    .main-text {
        font-size: 1.5rem;
        text-transform: capitalize;
        text-align: center;
        color: #fff;
        margin: 30px 0;
        font-weight: 600;
    }

    span {
        display: block;
    }

    .sub-text {
        width: 330px;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 50px;
    }

    .btn {
        width: 60%;
        height: 50px;
        border-style: none;
        border-radius: 30px;
        background: #fff;
        color: rgb(103, 75, 175);
        margin: 0 0 50px 65px;
        font-size: 1rem;
        font-weight: 400;
    }

    .icons {
        display: flex;
        justify-content: center;
    }

    .fa-brands {
        margin-bottom: 20px;
        font-size: 1.1rem;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 6px;
        margin-left: 10px;
        color: #fff;
    }
}

